
*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    background:hsl(233, 47%, 7%);
    color:hsl(0, 0%, 100%);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    line-height:1.8;
 
}


.card-container{
    width:95%;
    max-width:1110px;
    height:446px;
    margin:11.2rem auto;
    background-color:  hsl(244, 38%, 16%);
    overflow: hidden; /***to make image corner  rounded***/
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
}

.title-section{
    width:403px;
    margin:2.3rem 0rem 4.7rem 4.6rem;
}

 .title-section h1{
    max-width: 403px;
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    line-height:1.2;
}

 .title-section h1 span{
    color: hsl(277, 64%, 61%);
}

.title-section p{
    margin-bottom:3.7rem;
    color:hsla(0, 0%, 100%, 0.75);
   
}

.stat-container{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
   
}

.stat-container .stat-number{
    margin:0;
}
.stat-container .stat-details{

    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.8rem;
    color: hsla(0, 0%, 100%, 0.6);
    text-transform: uppercase;
    text-align: center;
    
}

.hero-background{
    width: 540px;
    height: auto;
    background: hsl(277, 64%, 61%) url(images/image-header-desktop.jpg) no-repeat center;
    background-blend-mode: multiply;
    background-size: cover;
}

.attribution{
    text-align: center;
    margin: 0 auto 3rem auto;  
}

a{
    text-decoration: none;
    color: rgb(199, 101, 22);
}

/******Tab Screen Size***************************/

@media (max-width:1064px){

    .card-container{
        width: 80%;
        margin:4rem auto ;
        padding-bottom: 3rem;
        flex-direction: column-reverse;
    }

    .hero-background{
        width: 100%;
        height: 400px;
    }

    
    .title-section{
        min-width: 200px;
        width:70%;
        margin: 1rem auto;
        
    }
}
/*************** Mobile Screen size***************/

@media (max-width:500px){

    html{
        font-size: 11px;
    }
    .card-container{
        width: 85%;
        height:auto;
        max-width:327px;
        text-align: center;
        margin: 6rem  auto 2rem auto; 
    }

    .hero-background{ 
        width:100%;
        height: 270px;
        background: hsl(277, 64%, 61%) url(images/image-header-mobile.jpg)  no-repeat  center;
        background-blend-mode: multiply;
        background-size: cover;
    }
    
    .title-section{
        min-width: 90%;
        height: auto;
        margin: 1rem auto;
    }
    
    .stat-container{
        
        flex-direction: column;
        justify-content: space-evenly; 
        font-size: 1.7rem;   
    }

    .stat-container .stat-section{
        width: 80%;
        margin: 1rem auto;
        
    }
}
